* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    padding: 20px;
  }
  
  .calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    width: 100%;
    max-width: 400px;
  }
  
  #inputBox {
    width: 100%;
    border: none;
    padding: 20px;
    margin-bottom: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(236, 234, 234, 0.1);
    font-size: 30px;
    text-align: right;
    color: white;
  }
  
  #inputBox::placeholder {
    color: #ffffff;
  }
  
  .buttons div {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 8px;
    border-radius: 50%;
    background: transparent;
    color: #f1eeee;
    font-size: 20px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .operator {
    color: #6dee0a;
    

  }
  
  .equalbtn {
    background-color: #fb7c14;
    color: #fff;
  }
  
  @media (max-width: 480px) {
    button {
      width: 50px;
      height: 50px;
      font-size: 18px;
    }
  
    #inputBox {
      font-size: 24px;
    }
  }
  